<div class="image">
    <div class="container">
        <h1 class="d-flex justify-content-center" style="color: rgb(20, 127, 220)">
            WELCOME TO MAADHAR REGISTRATION PORTAL
        </h1>
        <a type="button" class="d-inline btn btn-outline-primary" routerLink="/userlogin">
      User Login</a
    >&nbsp;
    <br />
    <br />
    <a
      type="button"
      class="d-inline btn btn-outline-primary"
      routerLink="/adminlogin"
    >
      Admin Login </a
    ><br />

    <br />
    &nbsp; New User?<a routerLink="/register">Click Here</a>
        <br />

        <br /> &nbsp; AadharDedo?<a routerLink="/id">Click Here</a>
    </div>
</div>